{# READ ALL SERVICES FROM SERVICE_VAR FILE #}
{% for docker_service in docker_services %}
{% if docker_service.stack_name == stack_name %}
{% if docker_service.services is defined %}
version: "{{ docker_service.compose_version }}"

{% for service in docker_service.services %}
{% if service.networks is defined %}
networks:
{% for network in service.networks %}
  {{ network }}:
    external: true
{% endfor %}
{% if item.env.docker.domain == "atlswarm.primerev.com" %}
{% if item.env.docker.networks.vlan is defined %}
  {{ item.env.docker.networks.vlan }}:
    external: true
      
{% endif %}
{% endif %}

{% endif %}

{% if service.secrets is defined %}
secrets:
{% for secret in service.secrets %}
  {{ secret }}:
    external: true
{% endfor %}
{% endif %}

{% if service.volumes is defined %}
volumes:
{% for volume in service.volumes %}
{% if volume.source is mapping %}
  {{volume.source.name}}:
{% if volume.source.driver is defined %}
    driver: {{ volume.source.get("driver") }}
{% endif %}
{% if volume.source.driver_opts is defined %}
    driver_opts:
{% for x, y in volume.source.driver_opts.iteritems() recursive %}
      {{ x }}: "{{ y }}"
{% endfor %}
{% endif %}
{% else %}
{{ volume.source }}
{% endif %}
{#
{% for key, value in volume.iteritems() recursive %}
{{volume}}
{% if key == "source" %}
{% if value is mapping %}
{{ value.name }}
{% for x, y in value.iteritems() recursive %}
{% if y is mapping %}
{% for k, v in y.iteritems() recursive %}
  {{ k }}: "{{ v }}"
{% endfor %}
{% else %}
  {{ x }}
{% endif %}
{% endfor %}
{% else %}
{{ value }}
{% endif %}
{% endif %}
{% endfor %}
#}
{% endfor %}
{% endif %}

{% endfor %}

services:
{% for service in docker_service.services %}
  {{ service.name }}:
{% if service.image is defined %}
    image: {{ service.image }}
{% endif %}
    hostname: '{{ '{{.Service.Name}}-{{.Task.Slot}}' }}'
{% if service.environment is defined %}
    environment:
{% for environment_vars in service.environment %}
{% for key, value in environment_vars.items() %}
      {{ key }}: "{{ value }}"
{% endfor %}
{% endfor %}
{% endif %}

{# GET NETWORKS FROM ENVIRONMENT FILE #}
{% if service.networks is defined %}
    networks:
{% for network in service.networks %}
      - {{ network }}
{% endfor %}
{% endif %}
{% if item.env.docker.domain == "atlswarm.primerev.com" %}
{% if item.env.docker.networks.vlan is defined %}
      - {{ item.env.docker.networks.vlan }}
{% endif %}
{% endif %}

{% if service.secrets is defined %}
    secrets:
{% for secret in service.secrets %}
      - {{ secret }}
{% endfor %}
{% endif %}

{% if service.container_labels is defined %}
    labels:
{% for label in service.container_labels %}
{% for key, value in label.items() %}
      {{ key }}: "{{ value }}"
{% endfor %}
{% endfor %}
{% endif %}

{% if service.volumes is defined %}
    volumes:
{% for volume in service.volumes %}
{% if volume.source.name is defined %}
      - {{ volume.source.name }}:{{ volume.target }}
{% else %}
      - {{ volume.source }}:{{ volume.target }}
{% endif %}
{% endfor %}
{% endif %}

{% if service.ports is defined %}
    ports:
{% for port in service.ports %}
{% for key,value in port.iteritems() %}
      {{ key }}: {{ value }}
{% endfor %}
{% endfor %}
{% endif %}

{% set dict1 = service.service_configuration.deploy %}
{% set dict2 = item.env.docker.service_configuration.deploy %}
{% set dict3 = dict2 | combine(dict1, recursive=True)  %}
{% if service.service_configuration.deploy is defined %}
    deploy:
{% for key,value in dict3.iteritems() %}
{% if value is mapping %}
        {{ key }}:
{% for k,v in value.iteritems() %}
{% if v is mapping %}
          {{ k }}:
{% for x,y in v.iteritems() %}
{% if y is mapping %}
     {{ x }}: {{ y }}
{% else %}
            {{ x }}: {{ y }}
{% endif %}
{% endfor %}
{% else %}
          {{ k }}: {{ v }}
{% endif %}
{% endfor %}
{% else %}
        {{ key }}: {{ value }}
{% endif %}
{% endfor %}
{% endif %}




{% endfor %}




{% endif %}
{% endif %}
{% endfor %}

